a {
  color: black;
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
p {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

.loading-element {
  height: 100%;
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
  font-family: "Montserrat";
}

/* PAGE NAV BUTTONS */

.kavithai-page-link,
.sirukadhai-page-link,
.oviyam-page-link,
.puthaga-vimarsanam-page-link,
.vasanam-page-link,
.vidukadhai-page-link,
.naatkurippu-page-link {
  color: #f2bb2c;
  font-size: 15px;
  padding: 0.75rem 1.5rem;
  border-radius: 200px;
  border: 2px solid #f2bb2c;
  font-weight: 800;
}

.kavithai-page-nav,
.sirukadhai-page-nav,
.oviyam-page-nav,
.puthaga-vimarsanam-page-nav,
.vasanam-page-nav,
.vidukadhai-page-nav,
.naatkurippu-page-nav {
  display: none;
  text-align: center;
  line-height: 200%;
}

@media screen and (max-width: 1000px) {
  .kavithai-page-nav,
  .sirukadhai-page-nav,
  .oviyam-page-nav,
  .puthaga-vimarsanam-page-nav,
  .vasanam-page-nav,
  .vidukadhai-page-nav,
  .naatkurippu-page-nav {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/* BOOK */
.puthaga-vimarsanam-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4rem;
}

.book-page-img {
  width: 280px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.2);
}

.book-page-img-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.book-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 38px;
  padding-bottom: 1rem;
}

.book-page-subtitle {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2.5rem;
  font-size: 16px;
}

.book-page-name {
  font-weight: 800;
  font-size: 18px;
}

.book-page-date-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.book-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.book-page-name-date {
  display: flex;
  justify-content: space-between;
}

.book-page-content {
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  margin-top: 3rem;
}

.book-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 200px;
  object-fit: cover;
}

.book-page-date {
  font-size: 18px;
}

.book-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.08);
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 7rem;
  max-width: 860px;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.book-page-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 560px) {
  .book-page-name-date,
  .naatkurippu-page-name-date,
  .vasanam-page-name-date,
  .kavithai-page-name-date,
  .sirukadhai-page-name-date,
  .vidukadhai-page-name-date,
  .drawing-page-name-date {
    flex-direction: column;
    row-gap: 1rem;
  }
}

/* DRAWING */
.oviyam-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 3rem;
}

.drawing-page-img {
  max-width: 860px;
  height: auto;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.01);
}

.drawing-page-img-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.drawing-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 38px;
  padding-bottom: 1rem;
}

.drawing-page-subtitle {
  text-align: center;
  margin-top: 1rem;
  padding-bottom: 2.5rem;
  font-size: 16px;
}

.drawing-page-name {
  font-weight: 800;
  font-size: 18px;
}

.drawing-page-date-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.drawing-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.drawing-page-name-date {
  display: flex;
  justify-content: space-between;
}

.drawing-page-content {
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  margin-top: 3rem;
}

.drawing-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 200px;
  object-fit: cover;
}

.drawing-page-date {
  font-size: 18px;
}

.drawing-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.05);
  padding-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
  max-width: 860px;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.drawing-page-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* General styles for the oviyam page */
.oviyam-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.oviyam-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.oviyam-page-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.oviyam-page-link {
  margin: 0.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.oviyam-page-nav {
  gap: 0;
}

/* Responsive layout for drawing-page-details */
.drawing-page-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding: 2rem;
}

.drawing-page-info-container {
  max-width: 1200px;
  width: 100%;
  /* padding: 1rem; */
  border-radius: 5px;
}

.drawing-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drawing-page-img-container {
  width: 100%;
  max-width: 600px;
  margin-bottom: 1rem;
}

.drawing-page-img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.drawing-page-header {
  text-align: center;
}

.drawing-page-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.drawing-page-subtitle {
  font-size: 1.5rem;
  color: #6c757d;
  margin-bottom: 1rem;
}

.drawing-page-name-date {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
}

.drawing-page-name-container {
  display: flex;
  align-items: center;
}

.drawing-page-person-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.drawing-page-name {
  font-size: 1rem;
}

.drawing-page-date-container {
  display: flex;
  align-items: center;
}

.drawing-page-calendar-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.drawing-page-date {
  font-size: 1rem;
}

.drawing-page-content {
  font-size: 1rem;
  line-height: 1.6;
  text-align: justify;
}

.book-page-img-container {
  padding: 0;
  margin: 0;
}

/* KAVITHAI */
.kavithai-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4rem;
}

.kavithai-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
}

.kavithai-page-subtitle {
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-size: 1rem;
}

.kavithai-page-name {
  font-weight: 800;
  font-size: 1.125rem;
}

.kavithai-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.kavithai-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  object-fit: cover;
}

.kavithai-page-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.kavithai-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kavithai-page-date-container {
  display: flex;
  gap: 0.25rem;
  align-items: center;
  justify-content: flex-end;
}

.kavithai-page-name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.kavithai-page-date {
  font-size: 1rem;
}

.kavithai-page-content {
  font-size: 1.125rem;
  line-height: 1.8;
  text-align: justify;
  margin-top: 3rem;
  white-space: pre-wrap;
}

.kavithai-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.08);
  padding: 2rem;
  max-width: 860px;
  width: 100%;
  border-radius: 1rem;
  margin: 2rem auto;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {
  .kavithai-page-title {
    font-size: 2rem;
  }

  .kavithai-page-subtitle {
    font-size: 0.875rem;
  }

  .kavithai-page-content {
    font-size: 1rem;
    line-height: 1.5;
  }

  .kavithai-page-info {
    padding: 1rem;
  }
}

/* VASANAM */
.vasanam-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4rem;
}

.vasanam-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 46px;
  padding-bottom: 1rem;
}

.vasanam-page-subtitle {
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-size: 16px;
}

.vasanam-page-name {
  font-weight: 800;
  font-size: 18px;
}

.vasanam-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.vasanam-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 200px;
  object-fit: cover;
}

.vasanam-page-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vasanam-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vasanam-page-date-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.vasanam-page-date {
  font-size: 18px;
}

.vasanam-page-name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vasanam-page-content {
  font-size: 18px;
  line-height: 240%;
  text-align: center;
  margin-top: 3rem;
  white-space: pre-wrap;
}

.vasanam-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.08);
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 7rem;
  max-width: 860px;
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* VIDUKADHAI */
.vidukadhai-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4rem;
}

.vidukadhai-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 46px;
  padding-bottom: 1rem;
}

.vidukadhai-page-subtitle {
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-size: 16px;
}

.vidukadhai-page-name {
  font-weight: 800;
  font-size: 18px;
}

.vidukadhai-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.vidukadhai-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 200px;
  object-fit: cover;
}

.vidukadhai-page-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vidukadhai-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vidukadhai-page-date-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.vidukadhai-page-date {
  font-size: 18px;
}

.vidukadhai-page-name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.vidukadhai-page-content {
  font-size: 18px;
  line-height: 240%;
  text-align: center;
  margin-top: 3rem;
  white-space: pre-wrap;
}

.vidukadhai-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.08);
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 7rem;
  max-width: 860px;
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* NAATKURIPPU */
.naatkurippu-page-content {
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  margin-top: 3rem;
}

.naatkurippu-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4rem;
}

.naatkurippu-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 46px;
  padding-bottom: 1rem;
}

.naatkurippu-page-subtitle {
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-size: 16px;
}

.naatkurippu-page-name {
  font-weight: 800;
  font-size: 18px;
}

.naatkurippu-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.naatkurippu-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 200px;
  object-fit: cover;
}

.naatkurippu-page-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.naatkurippu-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.naatkurippu-page-date-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.naatkurippu-page-date {
  font-size: 18px;
}

.naatkurippu-page-name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.naatkurippu-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.08);
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 7rem;
  max-width: 860px;
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

/* SIRUKADHAI */
.sirukadhai-page-content {
  font-size: 18px;
  line-height: 180%;
  text-align: justify;
  margin-top: 3rem;
}

.sirukadhai-page {
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  width: 100%;
  row-gap: 4rem;
}

.sirukadhai-page-title {
  text-align: center;
  margin-top: 2rem;
  font-size: 46px;
  padding-bottom: 1rem;
}

.sirukadhai-page-subtitle {
  text-align: center;
  margin-top: 0.5rem;
  padding-bottom: 2.5rem;
  font-size: 16px;
}

.sirukadhai-page-name {
  font-weight: 800;
  font-size: 18px;
}

.sirukadhai-page-name-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.sirukadhai-page-person-img {
  width: 52px;
  height: 52px;
  border-radius: 200px;
  object-fit: cover;
}

.sirukadhai-page-details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sirukadhai-page-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sirukadhai-page-date-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-end;
}

.sirukadhai-page-date {
  font-size: 18px;
}

.sirukadhai-page-name-date {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sirukadhai-page-info {
  background-color: #fff1f1;
  box-shadow: 8px 8px 56px 0px rgba(0, 0, 0, 0.08);
  padding-top: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  padding-bottom: 7rem;
  max-width: 1080px;
  width: 100%;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media screen and (max-width: 1024px) {
  .vasanam-page-content,
  .kavithai-page-content,
  .sirukadhai-page-content,
  .naatkurippu-page-content,
  .vidukadhai-page-content {
    font-size: 16px;
    padding-bottom: 4rem;
  }
}

@media screen and (max-width: 640px) {
  .vasanam-page-content,
  .kavithai-page-content,
  .sirukadhai-page-content,
  .naatkurippu-page-content,
  .vidukadhai-page-content {
    font-size: 14px;
    padding-bottom: 4rem;
  }
  .vasanam-page-link,
  .kavithai-page-link,
  .sirukadhai-page-link,
  .naatkurippu-page-link,
  .vidukadhai-page-link,
  .oviyam-page-link,
  .puthaga-vimarsanam-page-link {
    font-size: 18px;
  }
  .vasanam-link,
  .kavithai-link,
  .sirukadhai-link,
  .naatkurippu-link,
  .vidukadhai-link,
  .oviyam-link,
  .puthaga-vimarsanam-link {
    font-size: 16px;
  }
}
