@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
a {
  text-decoration: none;
  color: black;
}

h1,
p {
  margin: 0;
}

.loading-element {
  height: 100%;
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
}

.kavithai,
.oviyam,
.naatkurippu,
.puthaga-vimarsanam,
.vasanam,
.sirukadhai,
.vidukadhai {
  font-family: "Montserrat";
  font-weight: 800;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.navbar {
  position: sticky;
}

/* KAVITHAI */

.kavithai-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.kavithai-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kavithai-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* OVIYAM */

.oviyam-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.oviyam-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.oviyam-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* SIRUKADHAI */

.sirukadhai-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.sirukadhai-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sirukadhai-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* PUTHAGA VIMARSANAM */

.puthaga-vimarsanam-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.puthaga-vimarsanam-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.puthaga-vimarsanam-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 0rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* VASANAM */

.vasanam-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.vasanam-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vasanam-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* VIDUKADHAI */

.vidukadhai-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.vidukadhai-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.vidukadhai-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* NAATKURIPPU */

.naatkurippu-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.naatkurippu-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  color: #fff0f0;
  width: 600px;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.naatkurippu-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}
