@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
}
a {
  text-decoration: none;
  color: black;
}

h1,
p {
  margin: 0;
}

.loading-element {
  height: 100%;
  width: 100%;
  font-size: 24px;
  text-align: center;
  margin-top: 3rem;
  font-weight: 600;
}

.kavithai,
.oviyam,
.naatkurippu,
.puthaga-vimarsanam,
.vasanam,
.sirukadhai,
.vidukadhai {
  position: relative;
  font-family: "Montserrat";
  font-weight: 800;
  width: 100%;
  overflow-x: hidden;
  background-color: #fff0f0;
  display: flex;
  flex-direction: column;
  gap: 12rem;
}

.navbar {
  position: sticky;
}

.kavithai-elements,
.oviyam-elements,
.sirukadhai-elements,
.puthaga-vimarsanam-elements,
.vasanam-elements,
.vidukadhai-elements,
.naatkurippu-elements {
  position: relative; /* Ensure the parent container is relatively positioned */
}

/* KAVITHAI */

.kavithai-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

/* Ensure the background image covers the area properly */
.kavithai-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.kavithai-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* OVIYAM */

.oviyam-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

.oviyam-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.oviyam-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* SIRUKADHAI */

.sirukadhai-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.sirukadhai-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

.sirukadhai-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* PUTHAGA VIMARSANAM */

.puthaga-vimarsanam-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.puthaga-vimarsanam-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

.puthaga-vimarsanam-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* VASANAM */

.vasanam-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.vasanam-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

.vasanam-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* VIDUKADHAI */

.vidukadhai-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.vidukadhai-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

.vidukadhai-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* ------------------------------------------------------------ */

/* NAATKURIPPU */

.naatkurippu-bg {
  width: 100%;
  height: 880px;
  object-fit: cover;
  margin-top: -6rem;
}

.naatkurippu-title {
  font-size: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff0f0;
  width: 100%; /* Adjust width to span the full width of its container */
  text-align: center;
}

.naatkurippu-content {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  gap: 1.5rem;
}

/* RESPONSIVENESS */

.kavithai-nav,
.oviyam-nav,
.sirukadhai-nav,
.puthaga-vimarsanam-nav,
.vasanam-nav,
.vidukadhai-nav,
.naatkurippu-nav {
  display: none;
  text-align: center;
  line-height: 200%;
}

.kavithai-header,
.oviyam-header,
.sirukadhai-header,
.puthaga-vimarsanam-header,
.vasanam-header,
.vidukadhai-header,
.naatkurippu-header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kavithai-link,
.oviyam-link,
.sirukadhai-link,
.puthaga-vimarsanam-link,
.vasanam-link,
.vidukadhai-link,
.naatkurippu-link {
  color: #fff0f0;
  font-weight: 500;
  font-size: 15px;
  padding: 0.75rem 1.5rem;
  border-radius: 200px;
  border: 1px solid #fff0f0;
}

@media screen and (max-width: 1000px) {
  .kavithai-bg,
  .oviyam-bg,
  .sirukadhai-bg,
  .puthaga-vimarsanam-bg,
  .vasanam-bg,
  .vidukadhai-bg,
  .naatkurippu-bg {
    height: 1000px;
  }

  .kavithai-nav,
  .oviyam-nav,
  .sirukadhai-nav,
  .puthaga-vimarsanam-nav,
  .vasanam-nav,
  .vidukadhai-nav,
  .naatkurippu-nav {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .kavithai-title,
  .oviyam-title,
  .sirukadhai-title,
  .puthaga-vimarsanam-title,
  .vasanam-title,
  .vidukadhai-title,
  .naatkurippu-title {
    font-size: 56px;
    max-width: 500px;
  }
}
